@font-face {
  font-family: "SF-Pro-Text";
  src: url("../fonts/SF-Pro-Text-Heavy.otf") format("otf"),
    url("../fonts/SF-Pro-Text-Heavy.eot") format("eot"),
    url("../fonts/SF-Pro-Text-Heavy.woff") format("woff"),
    url("../fonts/SF-Pro-Text-Heavy.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Text";
  src: url("../fonts/SF-Pro-Text-Bold.otf") format("otf"),
    url("../fonts/SF-Pro-Text-Bold.eot") format("eot"),
    url("../fonts/SF-Pro-Text-Bold.woff") format("woff"),
    url("../fonts/SF-Pro-Text-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Text";
  src: url("../fonts/SF-Pro-Text-Semibold.otf") format("otf"),
    url("../fonts/SF-Pro-Text-Semibold.eot") format("eot"),
    url("../fonts/SF-Pro-Text-Semibold.woff") format("woff"),
    url("../fonts/SF-Pro-Text-Semibold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Text";
  src: url("../fonts/SF-Pro-Text-Medium.otf") format("otf"),
    url("../fonts/SF-Pro-Text-Medium.eot") format("eot"),
    url("../fonts/SF-Pro-Text-Medium.woff") format("woff"),
    url("../fonts/SF-Pro-Text-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Text";
  src: url("../fonts/SF-Pro-Text-Regular.otf") format("otf"),
    url("../fonts/SF-Pro-Text-Regular.eot") format("eot"),
    url("../fonts/SF-Pro-Text-Regular.woff") format("woff"),
    url("../fonts/SF-Pro-Text-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Text";
  src: url("../fonts/SF-Pro-Text-Light.otf") format("otf"),
    url("../fonts/SF-Pro-Text-Light.eot") format("eot"),
    url("../fonts/SF-Pro-Text-Light.woff") format("woff"),
    url("../fonts/SF-Pro-Text-Light.ttf") format("ttf");
  font-weight: 100;
  font-style: normal;
}
