:root {
  --color-primary: #f4d0ca;
  --color-secondary: #ffeed3;
  --color-secondary-dark: #ffc700;
  --color-purple: #b4c4ff;
  --color-white: #ffffff;
  --color-dark: #000000;
  --color-muted: rgba(0, 0, 0, 0.1);
}
