// This file contains all application-wide Sass mixins.

@mixin content-centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin content-separated-horizontaly {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
