.followers-wrapper {
  width: 100%;
  max-width: 12em;
  margin-left: 2em;
  text-align: end;

  .followers-meta {
    font-weight: 700;
    font-size: 0.875em;
    margin-right: 0.375em;
  }

  .list {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
  }

  .list-item,
  .follower-thumbnail {
    border-radius: 50%;
  }

  .list-item {
    width: 3.375em;
    height: 3.375em;
    border: 3px solid var(--color-white);
    margin-right: -1.25em;

    &:last-child {
      background-color: var(--color-secondary-dark);
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        margin: 0;
        font-weight: 700;
        font-size: 1.375em;
        font-family: $font-primary;
      }
    }
  }

  .follower-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 35em) {
    margin: 2em 0 0;
    text-align: center;
    max-width: 100%;

    .followers-meta {
      margin-right: 0;
    }

    .list {
      padding-right: 1.25em;
      justify-content: center;
    }
  }
}
