.section-fullwidth {
  width: 100%;
}

.section-welcome {
  padding-top: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    0deg,
    var(--color-white) 24em,
    var(--color-primary) 0
  );

  .entry-featured,
  .section-heading {
    max-width: 42.5em;
  }

  @media screen and (max-width: $breakpoint-normal) {
    .entry-featured,
    .section-heading {
      max-width: calc(100% - 4em);
    }

    .section-heading {
      margin-top: 3em;
      .heading-title {
        font-size: 1.5em;
        text-align: center;
      }
    }
  }

  @media (max-width: 35.125em) {
    padding-top: 8em;
    background: linear-gradient(
      0deg,
      var(--color-white) 64%,
      var(--color-primary) 0
    );
  }
}

.section-votes {
  .section-heading {
    text-align: center;
    margin-top: 5.875em;
    margin-bottom: 5em;

    .heading-title {
      font-weight: 200;
      font-family: $font-primary;
      font-size: 3.375em;
      text-transform: uppercase;
      margin: 0;
      line-height: 1.2;
    }

    span {
      font-weight: 700;
    }
  }

  .card:not(:first-child) {
    margin-top: 1.375em;
  }

  .card:last-child {
    .card-info-wrapper {
      .card-info {
        .card-subtitle span {
          font-weight: 700;
          color: var(--color-secondary-dark);
        }
      }
    }
  }

  .vote-excerpt {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1.375em;

    p {
      margin: 0 0 0 0.875em;
    }
  }

  @media screen and (max-width: $breakpoint-normal) {
    .section-heading {
      margin: 3em 0;

      .heading-title {
        font-size: 2em;
      }
    }

    .vote-excerpt {
      justify-content: center;
    }
  }
}
