.site-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  padding: 2.375em;

  a {
    color: var(--color-dark);
  }

  .footer-primary a {
    text-decoration: none;
  }
}
