.site-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: var(--color-primary);

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: $site-with-default;
    padding: 0 0.9375em;
    height: $site-header-height;
  }

  &-placeholder {
    width: 100%;
    height: $site-header-height;
  }

  .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.25em;
  }

  .site-navigation {
    .menu {
      padding-left: 0;
      list-style: none;
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    a {
      display: block;
      padding: 0.5em 1.75em;
      font-weight: 400;
      font-size: 1em;
      text-decoration: none;
      color: var(--color-dark);

      &:hover {
        text-shadow: 0.0625em 0px 0px;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .menu-toggle {
    display: none;
  }

  @media screen and (max-width: $breakpoint-normal) {
    &-inner,
    &-placeholder {
      height: $site-header-mobile-height;
    }

    .menu-toggle {
      display: block;
      padding: 1em 0 1em 1em;
      cursor: pointer;
    }

    .site-navigation {
      position: absolute;
      left: 0;
      margin-top: 13.5em;
      background-color: var(--color-primary);

      width: 100%;
      z-index: 100;
      transition: 0.5s;
      transform: translateX(-100%);
      .menu {
        flex-direction: column;

        &-item {
          width: 100%;
        }
      }

      a {
        padding: 1em 0;
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 40em) {
    // this is because we want to have equal parring left right like the grid system and in this example we don't use row and column in header and footer
    &-inner {
      padding: 0 0.625em;
    }
  }
}
